## Important Questions

### 1. Convert the given strings to list

In [3]:
string = "my name is subham. I am in 2nd year"

In [5]:
list(string) # bad approach

['m',
 'y',
 ' ',
 'n',
 'a',
 'm',
 'e',
 ' ',
 'i',
 's',
 ' ',
 's',
 'u',
 'b',
 'h',
 'a',
 'm',
 '.',
 ' ',
 'I',
 ' ',
 'a',
 'm',
 ' ',
 'i',
 'n',
 ' ',
 '2',
 'n',
 'd',
 ' ',
 'y',
 'e',
 'a',
 'r']

In [9]:
[i for i in string] # bad approach

['m',
 'y',
 ' ',
 'n',
 'a',
 'm',
 'e',
 ' ',
 'i',
 's',
 ' ',
 's',
 'u',
 'b',
 'h',
 'a',
 'm',
 '.',
 ' ',
 'I',
 ' ',
 'a',
 'm',
 ' ',
 'i',
 'n',
 ' ',
 '2',
 'n',
 'd',
 ' ',
 'y',
 'e',
 'a',
 'r']

In [11]:
string.split() # correct approach

['my', 'name', 'is', 'subham.', 'I', 'am', 'in', '2nd', 'year']

### 2. Remove Duplicates from Given String

In [14]:
string

'my name is subham. I am in 2nd year'

In [16]:
empty_string = ''

In [17]:
empty_string

''

In [21]:
for char in string:
    if char not in empty_string:
        empty_string = empty_string + char
print(empty_string)  #It will remove all the duplicated characters

my naeisubh.I2dr

### 3. Reverse the Given String

In [22]:
string = "ineuron intelligence"

In [25]:
string[::-1] # using slicing

'ecnegilletni norueni'

In [26]:
empty_str = ''

In [32]:
for char in string:
    empty_str = char + empty_str  ## character by character we are appending

In [31]:
empty_str

'ecnegilletni norueni'

### 4. How to create array in python

In [35]:
# using numpy 
import numpy as np
type(np.array([1,2,3,4,5]))

numpy.ndarray

### How to reverse the array?

In [42]:
arr = np.array([1,2,3,4,5])
arr[::-1] # using reverse indexing

array([5, 4, 3, 2, 1])

### 5. Sort the given list

In [50]:
my_list = [64, 34, 25, 12, 22, 11, 98]

In [51]:
#my_list.sort() # not a good approach. Don't use inbuilt sort method

In [52]:
my_list

[64, 34, 25, 12, 22, 11, 98]

In [87]:
# creating a function for bubble sort 
def bubble_sort(my_lst):
    n = len(my_lst)

    for i in range(n):
        for j in range(0, n-i-1):
            if my_lst[j] > my_lst[j+1]:
                my_lst[j],my_lst[j+1] = my_lst[j+1], my_lst[j]
    return my_lst

In [88]:
print(f'my original list {my_list}')
my_lst = bubble_sort(my_list)
print(f'my sorted list {my_lst}')

my original list [64, 34, 25, 12, 22, 11, 98]
my sorted list [11, 12, 22, 25, 34, 64, 98]

### What is the time complexity of the above code? 

### Ans: O(n^2)

### 6. Give example of mutability and immutability in python?

In [89]:
My_list = [1,2,3,4,5]

In [93]:
My_list ## list is mutable

[1, 10, 3, 4, 5]

In [92]:
My_list[1] = 10

In [94]:
String = "Hellow"

In [99]:
String[1] = 'p' # string is immutable. So it can not be changed

TypeError: 'str' object does not support item assignment

In [100]:
my_tuple = (1,2,3,4,5)

In [102]:
my_tuple[3] = 100 # Similarly for tuple we can not change because tuple is immutable

TypeError: 'tuple' object does not support item assignment

### 7. How to concatenate two given lists?

In [1]:
List_1 = ["W", "a", 'W', 'b']
List_2 = ['e', " ", 'riting', 'log']
# expected output = ['We', 'a', 'Writing', 'blog']

In [11]:
### Inbuild method

for x,y in zip(List_1, List_2):
    print(x,y)

W e
a
W riting
b log

In [9]:
[x+y for x,y in zip(List_1,List_2)]

['We', 'a ', 'Writing', 'blog']

### 8. Is removing the first item or last item taking the same item in the python list?

### 9. Find the minimum value in a given dictionary

In [23]:
my_dict = {'a':10, 'b':5, 'c':8, 'd': 3}

In [24]:
min(my_dict.values())

3

In [31]:
# how to fetch both keys and values (minimum)

In [26]:
min_key = None
min_value = float('inf')

In [27]:
min_key

In [28]:
min_value

inf

In [30]:
for key, value in my_dict.items():
    if value < min_value:
        min_value = value
        min_key = key
    if key < min_key:
        min_key = key
print(min_value)
print(min_key)

3
a

### 10. How to shuffle the elements inside the given list

In [33]:
lst = ['Subham', 'is ', 'good', 'boy']

In [34]:
set(lst)

{'Subham', 'boy', 'good', 'is '}

In [41]:
import random 
random.shuffle(lst)

In [42]:
lst

['Subham', 'is ', 'good', 'boy']

### 11. Remove all the white spaces in a string

In [43]:
string = "C O D E"

In [46]:
string.replace(" ", "")

'CODE'

### 12. Write a program to find the second largest number in the given list

In [53]:
my_list

[64, 34, 25, 12, 22, 11, 98]

In [54]:
my_list.sort()

In [55]:
my_list[-2]

64

### 13. Factorial with recursion

In [56]:
def factorial(n):
    if n == 1 or n==0:
        return 1
    else:
        return n*factorial(n-1)

In [58]:
factorial(10)

3628800

In [59]:
factorial(60)

8320987112741390144276341183223364380754172606361245952449277696409600000000000000

### 14. Fibonacci Series

In [4]:
n = 10
num_1 = 0
num_2 = 1
next_number = num_2
count = 1

In [5]:
while count<=n:
    print(next_number,end=' ')
    count = count+1
    num_1,num_2 = num_2, next_number
    next_number = num_1 + num_2
print()

1 2 3 5 8 13 21 34 55 89

### 15. Palindrome series

In [6]:
def isPalindrome(s):
    return s == s[::-1]


# Driver code
s = "malayalam"
ans = isPalindrome(s)

if ans:
    print("Yes")
else:
    print("No")

Yes

In [7]:
def isPalindrome(s):
    return s == s[::-1]


# Driver code
s = "subham"
ans = isPalindrome(s)

if ans:
    print("Yes")
else:
    print("No")

No